/*styled input tag*/
textarea.css-textarea{
  height: 28em;
  width: 50em;
}

.CodeMirror{
  background: white;
  border: 1px solid #d2dae2;
  padding: 5px;
  margin: 0;
  border-radius: 2px;
  font-size: 16px;
}

.CodeMirror:focus{
  outline: none;
  box-shadow: 0px 0px 5px 0px rgba(81, 177, 254, 0.4);
}
